.page {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  :global {
    .container {
      display: flex;
      flex-direction: column;
      .top-area {
        .btn-area {
          padding: 20px;
        }
        .right {
          padding: 10px;
        }
      }
      .bottom-area {
        background: #f6f6f6;

      }
    }
  }
}